@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0 10%;
}

.dark body {
  background-color: #000000;
  color: #ffffff;
}

.dark header {
  background-color: #000000;
  color: #ffffff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}